.alugar {
    background: #fff;
}


.cards{
    margin: 40px;
}
.cards img{
    height: 11em;
    right: 11em;
}

.cards p {
    text-align: center;
}

.botao{
    margin-top: 10px;
}

.conteudo-alugar{
    padding-top:10px;
}
.conteudo-alugar h3{
    color: black;
}

.conteudo-alugar span{
    text-align: justify;
}

label{
    display:flex;
    font:18px Lucida;
    float: right;
    
}
label input{
    float: right;
}


.botao-leitura{
    margin-top: 10px;
}

.ajustes {
    display:block;
    margin: 5px 0 0 0;
    background: #6c757d;
    color: white;
    align-items: left;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}